/* BACKGROUND COLOURS
-------------------------------------------- */

.dark-blue-background {
    background-color: #011B28 !important;
}
.light-blue-background {
    background-color: #acd9ec;
}
.off-white-background {
    background-color: #EEF7FB;
}
/* TEXT COLOURS
-------------------------------------------- */
.dark-blue-text {
    color: #011B28;
}
.off-white-text {
color: #EEF7FB;
}

/* NAV BAR
-------------------------------------------- */
.navbar-brand:hover,.nav-link:hover {
color: #f58300 !important;
}
.dropdown-item:hover {
    color: #f58300 !important;
    background-color: #011B28 !important;
}